[user]
	email = yike.lu@v3markets.com
	name = Yike Lu
[push]
	default = simple
[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)%C(reset)%C(bold yellow)%d%C(reset)''%C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg2"
[color]
	ui = true
[merge]
	tool = gvimdiff
[diff]
    tool = vimdiff
[pack]
	windowMemory = 100m
	SizeLimit = 256m
	threads = 1
